<!DOCTYPE html>
<html>
<head><meta name="viewport" content="width=device-width, initial-scale=1"></head>
<body style="font-family:Arial; padding:20px; text-align:center;">
<h2>Welcome {{name}}!</h2>
<p><b>Roll:</b> {{roll}} | <b>Class:</b> {{class_name}}</p>
<p id="loc">📍 Checking location...</p>

<a href="/mark_attendance" style="display:block; background:#4CAF50; color:white; padding:15px; border-radius:10px; text-decoration:none; font-weight:bold; margin-top:20px;">
📷 Scan QR & Mark Attendance
</a>

<a href="/my_attendance" style="display:block; background:#2196F3; color:white; padding:15px; border-radius:10px; text-decoration:none; font-weight:bold; margin-top:15px;">
📊 View My Attendance
</a>

<a href="/logout" style="display:block; background:#f44336; color:white; padding:12px; border-radius:10px; text-decoration:none; margin-top:15px;">
Logout
</a>

<script>
navigator.geolocation.getCurrentPosition(p=>{
  document.getElementById('loc').innerHTML = "📍 Location OK: " + p.coords.latitude.toFixed(4);
});
</script>
</body>
</html>
