<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Attendance System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="login-container">

    <h1>🎓 QR Attendance System</h1>
    <p class="subtitle">Welcome! Please Login</p>

    <form action="{{ url_for('login') }}" method="POST">

        <input
            type="text"
            name="username"
            placeholder="Enter Username"
            required
        >

        <input
            type="password"
            name="password"
            placeholder="Enter Password"
            required
        >

        <select name="role" required>
            <option value="">Select Role</option>
            <option value="teacher">👩‍🏫 Teacher</option>
            <option value="student">👨‍🎓 Student</option>
        </select>

        <button type="submit">Login</button>
        <br><br>

<a href="{{ url_for('google_login') }}">
    <button type="button">Sign in with Google</button>
</a>

    </form>

</div>

</body>
</html>